on: push
  
jobs:
  build:
    runs-on: ubuntu-latest
    container: rust:1.67
    steps:
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: actions/checkout@v3
      - name: build
        run: cargo build
